<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bid Page</title>
    <style>
  body {
    background-color: lightblue;
  }
  
  h2,h3,h4 {
    text-align: center;
  }
  
  table, td, th {
      border: 1px solid black;
  }
  
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  td {
    text-align: center;
  }
  
  th {
      height: 20px;
      text-align: center;
  }
    </style>  
  </head>
  <body>
    <h2>Bid Page</h2>
    <h3>Item: {{item_dict['item_name']}}</h3>
    <h4 name="item_id">ID: {{item_dict['item_id']}}</h4>

    <h4 class="current_bids">Current Bids</h4>
    <p>Minimun Bid: {{item_dict['min_bid']}}</p>
      <table>
        <tr>
          <th>User</th>
          <th>Paddle #</th>
          <th>Bid Amount #</th>
        </tr>
        {% for i in item_dict['bid_sheet']: %}
          <tr>
            <td>{{i['user_name']}}</td>
            <td>{{i['paddle_num']}}</td>
            <td>{{i['bid_amount']}}</td>
          </tr>
        {% endfor %}
      </table>

    <form action="/bid_confirmation" method="POST">
        <p>Your Bid Amount: 
            <input type="text" placeholder= "Amount (e.g. 10)" name="amount" >
            <input type="submit" value="Submit">
        </p>
    </form> 

  </body>
</html>