<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    Congratulations {{name}} with paddle number: {{paddle_num}}! have been registered !
    <br>
    <br>
    <form method="POST" action="/register">
        <button type="submit">Register Another</button>
    </form>
</body>
</html>