<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_Confirmation</title>
    <style>
        body {
          background-color: lightblue;
        }

        p,h1,h2,h3,h4 {
          text-align: center;
        }

        button {
            display: block;
            margin: 0 auto;
        }

    </style>
</head>
<body>
    <div class="container">
            <h1>Are you: <span class="h1"><u>{{name}}</u></span>?</h1>

            <form method="POST" action="/search">
                <button type="submit">Yes</button>
            </form>
            <form method="GET" action="/">
                <button type="submit">This is not me</button>
            </form>
    </div>

</body>
</html>
