<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Search</title>
    <style>
  body {
    background-color: lightblue;
  }
  
  p,h1,h2,h3,h4 {
    text-align: center;
  }
    </style>  
  </head>
  <body>

        <h1>Item Search</h1>

        <form action="/item_bidsheet" method="POST">
          <!-- <h1>Item Number:</h1> -->
          <p><input type="text" name="item_id" placeholder= "Item Number"></p>
          <p><input type="submit" value="Submit"></p>
        </form> 
  </body>
</html>