<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Registration</title>
		<style>
	  body {
		background-color: lightblue;
	  }
	  
	  p,h1,h2,h3,h4,form {
		text-align: center;
	  }
	
		</style>  
	  </head>

<body>
  <div class="login">
	<h1>Register</h1>
	<h1>
    <form method="POST", action="/register">
		<input type="text" name="username" placeholder="Username" required="required" />
		<br>
		<input type="number" name="paddle_number" placeholder="Paddle Number" required="required" />
		<br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
	</form>
	</h1>
</div>
  
    <script  src="js/index.js"></script>

</body>
</html>
